* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-bottom: 2rem;
    background-color: #255EE9;
}


/*.logo {
    text-transform: uppercase;
    font-size: 1.5rem;
    background-image: url(../img/logo.svg);
}*/


ul.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
}

ul>li.menu-item {
    padding: 0.50em 1rem;
    font-size: 20px;
    color: white;
}

.accedi {
    border-radius: 20px;
    border: none;
    padding: 0 1em;
    font-size: 15px;
    height: 2.5em;
}

.header-intro {
    padding-top: 15rem;
    text-align: center;
    padding-bottom: 9%;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}


.title-intro {
    padding-left: 33%;
    padding-right: 33%;
    padding-bottom: 1%;
    color: white;
    font-size: 3em;
}

.p-intro {
    padding: 1% 22%;
    line-height: 1.5em;
    font-size: 1.5em;
    color: white;
}

.mac {
    font-size: 1.6em;
    border-radius: 30px;
    border: none;
    padding: 10px;
}

#browser {
    font-size: 1.6em;
    padding: 15px 10px 10px;
    border-radius: 30px;
    border: none;
    background-color: rgb(19, 19, 19);
    color: white;
    margin-left: 10px;
}

main>section {
    padding: 6rem;
}

.section-size {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.column {
    padding: 2rem;
}

div.image {
    width: 50%;
}

div.text {
    width: 30%;
}

.section-centered {
    text-align: center;
}

.centered {
    padding: 1rem;
}

footer {
    background-color: #23272A;
    color: white;
    padding: 2rem;
}

.big-purple-text {
    width: 10%;
}

nav {
    display: flex;
    justify-content: space-around;
}

.ul-footer,
.big-purple-text {
    list-style-type: none;
}

.ul-footer>li {
    padding: 4%;
}

.sign-up {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    border-top: 1px solid white;

}