* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-bottom: 13rem;
    background-color: rgb(101, 193, 224);

}


.logo {
    text-transform: uppercase;
    font-size: 1.5rem;
}


ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
}

ul>li {
    padding: 0 1rem;
    font-size: 30px;
}

.header-intro {
    background-color: rgb(101, 193, 224);
    text-align: center;
    padding-bottom: 9%;
}


.title-intro {
    padding-left: 33%;
    padding-right: 33%;
    padding-bottom: 1%;
}

.p-intro {
    padding: 1% 33%;
    line-height: 1.5em;
}